<div class="left-side">
  <div class="left-side-title">
    Hayden's work
  </div>
  <ng-container *ngFor="let section of dataSet">
    <div class="section-title" (click)="selectSection(section)">
      {{section.title}}
    </div>      
  </ng-container>
</div>
<div class="right-side">
  <div class="right-top">
    <div class="right-top-text">
      {{currentSection?.title}}
    </div>
  </div>
  <div class="right-middle">
      <slideshow 
      [height]="'100%'"
      [minHeight]="'525px'"
      [autoPlay]="false"
      [showArrows]="true"
      [showDots]="true"
      [imageUrls]="currentSection.imagesParsed"
      [lazyLoad]="currentSection?.imagesParsed?.length > 1"
      [autoPlayWaitForLazyLoad]="true"
      [backgroundSize]="'contain'"
      (onSlideLeft)="handleImageChange($event)"
      (onSlideRight)="handleImageChange($event)"
      (onSwipeLeft)="handleImageChange($event)"
      (onSwipeRight)="handleImageChange($event)"
      >
    </slideshow>  
  </div>
  <div class="right-bottom">
      {{currentSection?.images[imageIndex].text}}
  </div>
</div>
<div *ngIf="showFullScreen" class="full-screen">
  <img src="{{currentSection?.imagesParsed[imageIndex]?.url}}" (click)="showFullScreen=false">
</div>

